.nftGridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
  justify-content: center;
}

.nftContainer {
  width: 17.8%;
  margin: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  backface-visibility: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  flex-direction: column;
  padding: 8px;
  max-height: 382px;
  transition: all 0.25s ease-in-out;
}

.nftContainer:hover {
  cursor: pointer;
  transform: translate3d(0px, -4px, 0px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  padding: 8px;
  font-size: 3rem;
  margin-bottom: 8px;
}

/* Responsive */

@media (min-width: 1450px) {
  .nftContainer {
    width: 10%;
  }
}

@media (min-width: 1050px) and (max-width: 1450px) {
  .nftContainer {
    width: 19%;
  }
}
@media (min-width: 770px) and (max-width: 1050px) {
  .nftContainer {
    width: 25%;
  }
}

@media (min-width: 600px) and (max-width: 770px) {
  .nftContainer {
    width: 33%;
  }
}

/* Less than 600 */
@media (min-width: 425px) and (max-width: 600px) {
  .nftContainer {
    width: 66%;
  }
}
/* Less than 600 */
@media (min-width: 321px) and (max-width: 424px) {
  .nftContainer {
    width: 75%;
  }
}
/* Less than 600 */
@media (max-width: 320px) {
  .nftContainer {
    width: 84%;
  }
}
